{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="{% static "default.css" %}" rel="stylesheet" type="text/css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    ssss {% block content %}{% endblock %}
  </body>
</html>
